.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signUpInput {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid rgb(77, 1, 77);
  outline: none;
}

legend {
  font-size: 1rem;
  color: gray;
}

span {
  font-size: 0.7rem;
  padding: 0.2rem 0;
  color: red;
  display: none;
}

.signUpInput:invalid[focused="true"] {
  border: 1px solid none;
}

.signUpInput:invalid[focused="true"] ~ span {
  display: block;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #f4f0e8;
  background-size: cover;
  background-position: center;
}

.signUpForm {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 30vw;
  box-shadow: 0 0 10px #1f1f39;
  display: grid;
  place-items: center;
}

.signUpForm > h1 {
  color: rgb(77, 1, 77);
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .signUpForm {
    width: 50%;
  }
}
@media (max-width: 426px) {
  .signUpForm {
    width: 90%;
  }
}
